// Mixins in here
.create-line() {
    margin: 20px;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
}

.btn-1 {
    .custom-btn();

  }
  
  .btn-2 {
    .custom-btn();
  }
  
  .btn-3 {
    .custom-btn();
  }
  
  .custom-btn(@width: 200px, @bgcolor:	rgb(56, 153, 209), @fontColor: black) {
    display: block;
    cursor: pointer;
    height: 45px;
    font-size: 20px;
    border: 1px black;
    border-radius: 10px;
    width: @width;
    background-color: @bgcolor;
    color: @fontColor;

    &:hover {
        background-color: @fontColor;
        color: @bgcolor;
      }

      @media @mobile {
        width: 100%;
        justify-content: center;
      }
    
  }
  
 